name: messier42_applyOLSSolution

services:
  activationBase:
    image: haaniansari/activationbase_messier42
    #also available at {add the link to your docker repo}
    volumes:
      - type: bind
        source: ./ai_system
        target: /tmp/ai_system
    command: cp -r /tmp/activationBase /tmp/ai_system/

  knowledgeBase:
    image: droyyy/knowledgebase_messier42
    #also available at {add the link to your docker repo}
    volumes:
      - type: bind
        source: ./ai_system
        target: /tmp/ai_system
    command: cp -r /tmp/knowledgeBase /tmp/ai_system/

  codeBase:
    image: droyyy/codebase_messier42
    #also available at {add the link to your docker repo}
    volumes:
      - type: bind
        source: ./ai_system
        target: /tmp/ai_system
    command: bash -c "python3 /tmp/codeBase/activateOLS.py" 

volumes:
  myvol:
